
<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %>
</p>

<p>
  <a href="<%= @message.URL %>"><%= @message.URL %></a>
</p>

<p>
Message created at: <%= @message.created_at %>
</p>
<hr/>

<p>
<a href="/messages/author">Show all posts by this author</a>
</p>

<p>
  <a href="/messages">Back to All Messages</a>
</p>



